*{
    margin: 0;
    padding: 0;
}

.color-verde{
    color: teal;
}

nav ul li{
    list-style: none;
    
    border: solid 2px green;
    display: inline-block;
    
}

.logo{
    width: 150px; 
    height: 150px;
    border: solid 2px blue;
}

h1{
    margin-top: 0px;
}